/* =============================================================================
   HTML Text Tags
   ========================================================================== */

/*
font-family: 'MenschBoldInline', 'Arial Narrow', Arial, sans-serif;
font-family: 'Lobster', 'Brush Script MT', cursive;
font-family: 'Goudy Bookletter 1911', Georgia, Times, 'Times New Roman', serif;
*/

@font-face {
    font-family: 'MenschBoldInline';
    src: url('fonts/mensch-inline-wf.eot');
    src: url('fonts/mensch-inline-wf.eot?#iefix') format('embedded-opentype'),
         url('fonts/mensch-inline-wf.woff') format('woff'),
         url('fonts/mensch-inline-wf.ttf') format('truetype'),
         url('fonts/mensch-inline-wf.svg#MenschMenschBoldInline') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, 'Times New Roman', serif;
	font-size: 20px; 
	/* This should be the only pixel font size in the site. 
	   All other font sizes will be multiples of this. */
	font-weight: 400;
	line-height: 1.4em;
	color: #414141;
}
p {
	font-size: 1em;
	letter-spacing: 0.04em;
	line-height: 1.7;
}
p.filigree:before {
	content: '\2766  ';
}
p strong {
	font-weight: 700;
	color: #b34b44;
}
hr {
	background: #999;
	color: #999;
	border: none;
	border-bottom: 1px solid #fff;
	height: 2px;
	margin: 30px 0;
}

/* =HEADINGS= */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster', 'Brush Script MT', cursive;
	font-weight: normal;
	color: #a71e22;
	line-height: 1.1;
}
h1 {
	font-size: 2.50em; /*50px*/
	margin: 0 0 1em;
	text-align: center;
}
h2 {
	color: #414141;
	font-size: 2.10em; /*42px*/
	letter-spacing: -0.04em;
}
h3 {
	color: #888;
	font-size: 1.80em; /*36px*/
}
h2 + h3 {
	margin: -20px 0 1.8em;
}
 
/* =LISTS= */
li ul, 
li ol { 
	margin:0 15px;
}
ul, ol { 
	margin: 0 15px 15px 15px;
}
ul { 
	list-style-type: disc;
}
ol { 
	list-style-type: decimal;
}
dl { 
	margin: 0 0 15px 0;
}
dl dt { 
	font-weight: bold;
}
dd { 
	margin-left: 15px;
}

/* =LINKS= */
a, a:active { 
	color: #2d6bb0;
}
a:focus, 
a:hover { 
}

.content a:hover,
footer a:hover,
.content a:focus,
footer a:focus {
	opacity: 0.6;
	-webkit-transition: all 0.2s;
		    transition: all 0.2s;
}


/* =============================================================================
   Main Structure
   ========================================================================== */
body {
	background: #FCFAF3;	
}

header {
	position: relative;
	height: 130px;
	background: url('../img/bg_header.png') repeat-x 50% 0;
	border-bottom: 10px solid rgba(64, 64, 64, 0.6);
	z-index: 3;
}
header .logo {
	position: absolute;
	width: 194px;
	height: 144px;
	top: 12px;
	left: 50%;
	margin-left: -97px;
	background: url('../img/CandB.png') no-repeat 0 0;
	text-indent: -9999px;
	z-index: 3;
}
header .tagline {
	display: none;
}

.topImage {
	display: none;
	position: relative;
	width: 100%;
	margin-top: -10px;
	overflow: hidden;
	z-index: 1;
}
.topImage img {
	position: relative;
	width: 100%;
	max-width: 100%;
}
.topImage #ajaxLoader {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 44px;
	padding: 8px 0;
	margin: -20px 0 0 -60px;
	color: #fcfaf3;
	font-family: 'Lobster', 'Brush Script MT', cursive;
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

.frame {
	position: relative;
	margin: 0 auto;
	background: #fcfaf3;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 2;
}

nav {
	padding: 40px 0 20px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	padding: 0 0 4px;
}
nav ul li:first-child {
	padding-left: 0;
}
nav ul li a {
	display: block;
	text-align: center;
	color: #333;
	font-family: 'MenschBoldInline', 'Arial Narrow', Arial, sans-serif;;
	font-size: 38px;
	line-height: 1;
	letter-spacing: -0.04em;
	text-decoration: none;
	border-bottom: 6px solid #fcfaf3;
	-webkit-transition: all 0.2s;
		    transition: all 0.2s;
}
nav ul li a:hover {
	color: rgba(167, 30, 34, 0.8);
}
nav ul li a:focus,
nav ul li a:active,
nav ul li a.active {
	color: #a71e22;
	border-bottom: 6px solid #a71e22;
}
nav ul li a span {
	font-size: 30px;
}

.page {
	display: none;
}
.page.active {
	display: block;
}

section.content {
	position: relative;
	padding: 1px;
	margin: 10px 6px 60px;
	border: 1px solid #3F3F40;
	z-index: 1;
	-webkit-transition: all 0.2s;
		    transition: all 0.2s;
}
section.content .border {
	position: relative;
	padding: 32px 32px 26px;
	border: 1px solid #3F3F40;
	z-index: 1;
	-webkit-transition: all 0.2s;
		    transition: all 0.2s;
}
section.content .border .inner {
	position: relative;
	z-index: 4;
}
section.content:before,
section.content:after,
section.content .border:before,
section.content .border:after {
	content: '';
	display: block;
	position: absolute;	
	width: 36px;
	height: 43px;
	background: url(../img/corner.png) no-repeat 0 0;
	background-size: 75px 86px;
	z-index: 2;
}
section.content:before {
	top: -10px;
	left: -3px;
	background-position: 0 0;
}
section.content:after {
	top: -10px;
	right: -3px;
	background-position: 100% 0;
}
section.content .border:before {
	bottom: -12px;
	left: -5px;
	background-position: 0 100%;
	z-index: 1;
}
section.content .border:after {
	bottom: -12px;
	right: -5px;
	background-position: 100% 100%;
	z-index: 1;
}

section.content p {
	
}

footer {
	margin: 60px 0 0;
	padding: 4px 0 0px;
	border-top: 44px solid #b34b44;
	border-top: 44px solid rgba(167, 30, 34, 0.8);
	text-align: center;
}
footer p {
	color: #666;
	font-size: 24px;
	font-style: italic;
	opacity: 0.4;
	-webkit-transition: all 0.4s;
		    transition: all 0.4s;
}
footer p:hover {
	opacity: 1;
}



#home1 p {
}
#home1 #countdown {
	background: #f5eed6;
}
#countdown h3 {
	background: #a71e22;
	background: rgba(167, 30, 34, 0.6);
	color: #fff;
	padding: 10px;
	margin: 0;
	text-align: center;
}
#countdown span {
	display: block;
	padding: 34px 0;
	font-family: 'MenschBoldInline', 'Arial Narrow', Arial, sans-serif;
	font-size: 57px;
	text-align: center;
}


.gallery {

}
.gallery a {
	display: block;
	float: left;
	padding: 3px;
	margin: 0 0 0.4em;
	background: #fff;
	border: 1px solid #999;
}
.gallery a img {
	width: 100%;
	max-width: 100%;
}

.gallery a {
	width: 32%;
	margin-left: 2%;
}
.gallery a:nth-child(3n+1) {
	margin-left: 0;
}


.awesomePerson h2 {
	font-family: 'MenschBoldInline', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.9em;
	line-height: 1;
	margin: 0;
}
.awesomePerson h3 {
	color: #414141;
	font-size: 1em;
	margin: -0.1em 0 0.8em;
}
.awesomePerson img {
	padding: 3px;
	margin: 0 0 0.4em;
	background: #fff;
	border: 1px solid #999;
	max-width: 100%;
}
.awesomePerson p {
	margin-bottom: 2em;
}

.stillAwesomePerson {

}
.stillAwesomePerson h2 {
	font-family: 'MenschBoldInline', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.9em;
	line-height: 1;
	margin: 0;
}
.stillAwesomePerson img {
	float: left;
	padding: 3px;
	margin: 0.4em 1em 0em 0;
	background: #fff;
	border: 1px solid #999;
	max-width: 100%;
}
.stillAwesomePerson p {
	margin-top: 0;
}

.location {
	margin: 2em 0;
}
.location .info {
}
.location h2 {
	margin-top: 0.1em;
}
.location .map {
}
.location .map iframe {
	width: 100%;
	min-height: 300px;
	padding: 4px;
	background: #fff;
	border: 1px solid #999;
}
.location .map img {
	width: 100%;
	max-width: 100%;
}

.registry {
	display: block;
	padding: 20px;
	margin: 0 0 0.4em;
	background: #fff;
	border: 1px solid #999;
	max-width: 100%;
}
.registry img {
	width: 100%;
	max-width: 260px;
	margin: 0 auto;
}


/* =============================================================================
   Responsive Styles
   ========================================================================== */
@media only screen and (min-width : 320px) {
	.topImage {
		display: block;
	}
}
@media only screen and (min-width : 600px) {
	nav {
		padding: 40px 0 40px;
	}
	nav ul li {
		float: left;
		width: 23%;
		margin: 0 1%;
	}
	nav ul li a {
		font-size: 40px;
	}

	section.content .border {
		padding: 60px 36px;
		border-width: 2px;
	}
	section.content:before,
	section.content:after,
	section.content .border:before,
	section.content .border:after {
		background-size: 150px 172px;
		width: 75px;
		height: 86px;
	}
	section.content:before {
		top: -23px;
		left: -6px;
		background-position: 0 0;
	}
	section.content:after {
		top: -23px;
		right: -6px;
		background-position: 100% 0;
	}
	section.content .border:before {
		bottom: -23px;
		left: -9px;
		background-position: 0 100%;
	}
	section.content .border:after {
		bottom: -23px;
		right: -9px;
		background-position: 100% 100%;
	}

	#home1 #countdown {
		float: right;
		width: 230px;
		margin-left: 40px;
	}

	.gallery a {
		width: 24%;
		margin-left: 1%;
	}
	.gallery a:nth-child(3n+1) {
		margin-left: 1%;
	}
	.gallery a:nth-child(4n+1) {
		margin-left: 0;
	}

	.registry {
		float: left;
		width: 32%;
		margin-left: 2%;
	}
	.registry:first-child {
		margin-left: 0;
	}
}

@media only screen and (min-width : 880px) {
	nav {
		width: 860px;
		margin: 0 auto;
	}
	nav ul li {
		padding: 0 0 0 37px;
		width: auto;
		margin: 0;
	}
	nav ul li a {
		font-size: 40px;
	}
	nav ul li a span {
		font-size: 24px;
	}

	.awesomePerson {
		float: left;
		width: 28%;
		margin-left: 8%;
	}
	.groupOfFolks .awesomePerson:first-child {
		margin-left: 0;
	}
	.awesomePerson p {
		font-size: 0.80em;
	}

	.location .info {
		float: left;
		width: 350px;
	}
	.location .map {
		float: right;
		width: 436px;
	}
	.location .map iframe {
		width: 436px;
		height: 360px;
	}

	.registry {
		width: 30%;
		margin-left: 5%;
	}
}

@media only screen and (min-width : 980px) {
	header .tagline {
		display: block;
		position: relative;
		width: 980px;
		height: 39px;
		top: 65px;
		margin: 0 auto;
		background: url('../img/tagline.png') no-repeat 0 0;
		text-indent: -9999px;
		z-index: 1;
	}

	.frame {
		margin: -40px auto 0;
		width: 980px;
	}

	section.content {
		margin: 15px 40px 80px;
	}
	section.content .border {
		padding: 40px 36px;
	}
}

@media only screen and (min-width : 1200px) {
	nav {
		width: 980px;
		padding: 40px 0 20px;
	}
	nav ul li {
		padding: 0 0 0 46px;
	}
	nav ul li a {
		font-size: 45px;
	}
	nav ul li a span {
		font-size: 30px;
	}

	.frame {
		margin: -40px auto 0;
		width: 1200px;
	}

	section.content {
		margin: 15px 50px 80px;
	}
	section.content .border {
		padding: 40px 56px;
	}

	.gallery a {
		width: 19%;
		margin-left: 1%;
	}
	.gallery a:nth-child(3n+1),
	.gallery a:nth-child(4n+1) {
		margin-left: 1%;
	}
	.gallery a:nth-child(5n+1) {
		margin-left: 0;
	}

	.awesomePerson p {
		font-size: 0.90em;
	}

	.location .info {
		width: 500px;
	}
}