/* =============================================================================
   Form Assets
   ========================================================================== */
fieldset { 
	padding: 1.4em;
	margin: 0 0 1.5em 0;
	border: 1px solid #adadad;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
legend {
	font-weight: bold;
	font-size: 1.21em;
	color: #386BA0;
}
label { 
	display: block;
	font-size: 1.14em;
	margin: 0 0 6px 0;
	padding: 0 0 0 2px;
	color: #326699;
	text-shadow: 1px 1px 0px #fff;
}
input + label {
	font-weight: normal;
	padding-left: 3px;
}
input:hover, input:active, input:focus,
select:hover, select:active {
	outline: none;
}
label em {
	display: inline;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.86em;
	color: #FF3300;
	font-weight: normal;
	font-style: normal;
}
label span {
	font-weight: normal;
	font-style: italic;
	font-size: 11px;
}

.chbox {
	display: block;
	padding: 4px 12px 0 0;
	margin: 0;
}
.chbox.horiz {
	padding-top: 7px;
}
.chbox input {
	display: inline;
	margin: 0;
	width: 13px;
}
.chbox label {
	display: inline;
	padding: 0 0 0 4px;
}



/* =============================================================================
   Form Fields
   ========================================================================== */
input.text,
select,
textarea {
	background: #fff url(../img/input.png) repeat-x 0 0;
	border: 1px solid #CBD9E4;
	color: #555;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1.29em;
	padding: 7px;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	     -o-transition: all 0.2s;
		    transition: all 0.2s;
}
textarea {
}
input.text:hover,
select:hover,
textarea:hover {
	border-color: #B6CADA;
	-webkit-box-shadow: 1px 1px 2px #B6CADA;
	box-shadow: 1px 1px 2px #B6CADA;
}
input.text:focus,
select:focus,
textarea:focus {
	border-color: #18568B;
	-webkit-box-shadow: 1px 1px 2px #B6CADA;
	box-shadow: 1px 1px 2px #B6CADA;
}

input[disabled="disabled"], input.disabled,
select[disabled="disabled"], select.disabled,
input[disabled="disabled"]:hover, input.disabled:hover,
select[disabled="disabled"]:hover, select.disabled:hover,
input_sm.disabled, select_sm.disabled,
input_sm.disabled:hover, select_sm.disabled:hover,
textarea.disabled, textarea.disabled:hover {
	color: #A4A4A4;
}



/* =============================================================================
   Form Framework
   ========================================================================== */
.formWrapper {
	width: 100%;
	clear: both;
}
.formSection {
	padding: 10px 15px 20px 0;
}
.formHalf {
	float: left;
	width: 47%;
}
.formThird {
	float: left;
	width: 30.6%;
}
.formWhole {
	clear: both;
	width: 100%;
}
.formHalf, 
.formWhole, 
.formThird {
	position: relative;
	padding: 0 0 20px 0;
	margin-right: 6%;
}
.formWhole,
.formHalf + .formHalf {
	margin-right: 0;	
}
.formHalf select,
.formWhole select,
.formThird select {
	width: 100%;
	height: 2.1em;
}
.formHalf input.text,
.formWhole input.text,
.formThird input.text {
	width: 100%;
}
.formWrapper hr {
	width: 97%;
	margin: 0 3% 10px 0;
	clear: both;
}



/* =============================================================================
   Button Styles
   ========================================================================== */
.btnContainer {
	margin: 0 0 15px;
}

.buttonSpan {
	position: relative;
	display: inline-block;
	margin: 0 18px 0 0;
}
.buttonSpan .button {
	margin: 0;
	display: block;
}
.button {
	display: inline-block;
	text-decoration: none;
	margin: -1px 20px 1px 0;
	padding: 9px 18px 8px;
	color: #18568B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.21em;
	font-weight: bold;
	line-height: 1;
	text-shadow: 1px 1px 0px #fff;
	background: #fff url(../img/button.png) repeat-x 0 0;
	cursor: pointer;
	border-top: 1px solid #fff;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #CBD9E4;
	-webkit-border-radius: 18px;
	border-radius: 18px; 
	-webkit-box-shadow: 0px 2px 0px 0px #81A3C0;
	box-shadow: 0px 2px 0px 0px #81A3C0;
}
.button:hover {
	background-position: 0 -36px;
	text-decoration: none;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(255, 255, 255, 0.8), 0px 2px 0px 0px #81A3C0;
	box-shadow: inset 0px 1px 1px 1px rgba(255, 255, 255, 0.8), 0px 2px 0px 0px #81A3C0;
}
.button:focus,
.button:active {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 7px;
	text-decoration: none;
	text-shadow: -1px -1px 0px #fff;
	background-position: 0 -72px;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(255, 255, 255, 0.8), 0px 1px 0px 0px #81A3C0;
	box-shadow: inset 0px 1px 1px 1px rgba(255, 255, 255, 0.8), 0px 1px 0px 0px #81A3C0;
}



/* =============================================================================
   Form Validation
   ========================================================================== */
.requiredFields {
	clear:both;
	padding: 15px 0;
	font-size: 11px;
	color: #AE4C4C;
	font-weight: bold;
	margin-right: 3%;
	float: right;
}
.requiredFields span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 16px;
}

input.text.error, 
select.error, 
textarea.error, 
input.text.error:hover, 
select.error:hover, 
textarea.error:hover, 
input.text.error:focus, 
select.error:focus, 
textarea.error:focus {
	border-color: #F00000;
}

.validation, 
span.validation {
	display: block;
	background: #C93B13;
	padding: 10px;   
}
.validation ul {
  margin: 0;
}
.formWrapper span.confirmationMessage {
	background-color:#92C300;
	color:White;
	display:block;
	margin-left:0;
	margin-right:-3.2%;
	margin-top:-10px;
	padding:10px;
}
.errorSummaryHeader {
	border-right: 1px solid #ccc;
	margin-right: 10px;
}
.successMessage,
.errorMessage {
	clear: both;
	color: #669966;
	padding: 10px 0;
}
.errorMessage {
	color: #CC0000;
}
.errorMessage h3,
.successMessage h4 {
	border-right: 1px solid #ccc;
	margin: 0;
	padding-top: 7px;
	padding-bottom: 0;
	background-position: left center;
}
.errorMessage h3 {
	border-right-color: #CC0000;
}
.errorMessage p,
.successMessage p {
	display: block;
	float: left;
	padding: 13px 0 0 0;
	margin: 0 0 0 10px;
	font-size: 11px;
}
input.text.error, select.error, textarea.error {
  border-color: #F00000;
}